export PROJECT_NAME="toggl-pg-mirror"
export INSTANCE_ID=$(pwd | sha1sum | awk '{print $1}' | cut -c 1-12)
export COMPOSE_PROJECT_NAME=${PROJECT_NAME}_${INSTANCE_ID}

export PUBLIC_GIT_HASH=development
export PUBLIC_GIT_BRANCH=development
export PUBLIC_GIT_DATE=development
export PUBLIC_BUILD_STAMP=development
